#primary-navigation .hamburger-with-cart + #primary-menu.no-responsive > li.menu-item-cart,
#primary-navigation .hamburger-with-cart + div #primary-menu.no-responsive > li.menu-item-cart {
	display: none;
}
#primary-navigation #primary-menu > li.menu-item-cart > a {
	margin-right: 26px;
}
.header-layout-vertical #primary-navigation #primary-menu > li.menu-item-cart > a,
#primary-navigation.responsive #primary-menu > li.menu-item-cart > a {
	margin-right: 0;
}
.hamburger-minicart > a {
	line-height: 60px;
}
.hamburger-group.hamburger-size-small .hamburger-minicart > a {
	line-height: 30px;
}
.hamburger-minicart.hamburger-minicart-size-small > a {
	line-height: 30px;
}

#primary-navigation #primary-menu > li.menu-item-cart > a.empty,
.hamburger-minicart > a.empty {
	margin-right: 0;
}

#primary-navigation #primary-menu > li.menu-item-cart > a:before,
.hamburger-minicart > a:before {
	font-family: 'thesod-icons';
	font-weight: normal;
	font-size: 24px;
	content: '\e613';
	margin-right: 5px;
	vertical-align: top;
	line-height: inherit;
	display: inline-block;
	text-align: center;
	width: 100%;
	padding-right: 3px;
}
.hamburger-minicart > a:before {
	font-size: 48px;
	margin: 0;
	padding: 0;
}
.hamburger-group.hamburger-size-small .hamburger-minicart > a:before {
	font-size: 24px;
}
.hamburger-minicart.hamburger-minicart-size-small > a:before {
	font-size: 24px;
}
#page.vertical-header #primary-navigation #primary-menu > li.menu-item-cart > a:before,
.header-layout-fullwidth_hamburger #primary-navigation #primary-menu > li.menu-item-cart > a:before {
	text-align: left;
}
#primary-navigation.responsive #primary-menu > li.menu-item-cart > a:before {
	text-align: left;
}
#primary-navigation.responsive #primary-menu > li.menu-item-cart > .minicart {
	display: none;
}
#primary-navigation #primary-menu > li.menu-item-cart > a .minicart-item-count,
.hamburger-minicart > a .minicart-item-count {
	position: absolute;
	right: -15px;
	top: 50%;
	width: 23px;
	height: 18px;
	font-size: 87.5%;
	text-align: center;
	line-height: 18px;
	margin: -8px 0 0 0;
	padding-right: 2px;
	z-index: 1;
}
.hamburger-minicart > a .minicart-item-count {
	top: 100%;
	width: 26px;
	height: 14px;
	right: auto;
	left: 50%;
	margin: -5px 0 0 -13px;
	line-height: 14px;
	padding: 0;
	border-radius: 7px;
	font-size: 11px;
	color: #000000;
}
#site-header.shrink .hamburger-minicart > a .minicart-item-count {
	top: 50%;
	left: -30px;
	margin: -5px 0 0 0;
}
.hamburger-group.hamburger-size-small .hamburger-minicart > a .minicart-item-count {
	margin-top: 0;
}
.hamburger-minicart.hamburger-minicart-size-small > a .minicart-item-count {
	margin-top: 0;
}
#primary-navigation #primary-menu > li.menu-item-cart > a.empty .minicart-item-count,
.hamburger-minicart > a.empty .minicart-item-count {
	display: none;
}
#primary-navigation.responsive #primary-menu > li.menu-item-cart > a .minicart-item-count {
	left: 65px;
}
#primary-navigation #primary-menu > li.menu-item-cart > a .minicart-item-count:after {
	content: '';
	position: absolute;
	left: -6px;
	top: 3px;
	width: 12px;
	height: 12px;
	transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	background: inherit;
	z-index: -1;
}
@media (max-width: 768px) {
	.primary-navigation li.menu-item-cart > a:after,
	.primary-navigation li.menu-item-cart > .minicart {
		display: none;
	}
}
#primary-menu.no-responsive > li.menu-item-cart > .minicart,
.hamburger-minicart > .minicart {
	position: absolute;
	visibility: hidden;
	white-space: normal;
	width: 305px;
	border-top: 0;
	transition: transform 0.1s linear 0.5s, opacity 0.1s linear 0.5s, visibility 0.1s linear 0.5s;
	-moz-transition: transform 0.1s linear 0.5s, opacity 0.1s linear 0.5s, visibility 0.1s linear 0.5s;
	-webkit-transition: transform 0.1s linear 0.5s, opacity 0.1s linear 0.5s, visibility 0.1s linear 0.5s;
	opacity: 0;
	transform: translateY(20px);
	-o-transform: translateY(20px);
	-ms-transform: translateY(20px);
	-moz-transform: translateY(20px);
	-webkit-transform: translateY(20px);
	padding: 23px 0 0;
	border: 1px solid #ffffff;
}
.header-layout-fullwidth_hamburger #primary-menu.no-responsive > li.menu-item-cart > .minicart,
#thesod-perspective .perspective-navigation #primary-menu.no-responsive li.menu-item-cart > .minicart,
#page.vertical-header #primary-menu.no-responsive > li.menu-item-cart > .minicart,
.header-layout-overlay #primary-navigation #primary-menu.no-responsive > li.menu-item-cart > .minicart {
	display: none;
}
#primary-menu.no-responsive > li.menu-item-cart > .minicart ul,
.hamburger-minicart > .minicart ul {
	position: relative;
	visibility: inherit;
	width: auto;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	transition: all 0s;
	-moz-transition: all 0s;
	-webkit-transition: all 0s;
	opacity: 1;
	transform: none;
	-o-transform: none;
	-ms-transform: none;
	-moz-transform: none;
	-webkit-transform: none;
	border: 0;
}
#primary-menu.no-responsive:hover li.menu-item-cart:hover > .minicart,
.hamburger-minicart:hover > .minicart {
	visibility: visible;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	opacity: 1;
	transform: translateY(0);
	-o-transform: translateY(0);
	-ms-transform: translateY(0);
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
}
#primary-menu.no-responsive:hover > li.menu-item-cart .minicart {
	visibility: hidden;
	transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	opacity: 0;
}
#primary-menu.no-responsive > li.menu-item-cart > .minicart,
.hamburger-minicart > .minicart {
	top: 100%;
	left: 0;
}
#primary-menu.no-responsive > li.menu-item-cart > .minicart.invert,
.hamburger-minicart > .minicart.invert {
	left: auto;
	right: 0;
}

/* MINI CART */

#primary-menu.no-responsive > li.menu-item-cart .widget_shopping_cart_content ul.cart_list,
.hamburger-minicart .widget_shopping_cart_content ul.cart_list {
	padding: 0 24px;
}
#primary-menu.no-responsive > li.menu-item-cart > .minicart ul li img,
.hamburger-minicart > .minicart ul li img {
	height: 60px;
	width: 60px;
}
#primary-menu.no-responsive > li.menu-item-cart > .minicart ul li .minicart-image,
.hamburger-minicart > .minicart ul li .minicart-image {
	float: left;
	margin-right: 17px;
	margin-top: -4px;
	position: relative;
}
#primary-menu.no-responsive > li.menu-item-cart > .minicart ul li .minicart-image:after,
.hamburger-minicart > .minicart ul li .minicart-image:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	opacity: 0;
	z-index: 1;
	background: rgba(0, 188, 212, 0.3);
}
#primary-menu.no-responsive > li.menu-item-cart > .minicart ul li a:hover .minicart-image:after,
.hamburger-minicart > .minicart ul li a:hover .minicart-image:after {
	opacity: 1;
}
#primary-menu.no-responsive > li.menu-item-cart > .minicart ul li.sale .minicart-image:before,
.hamburger-minicart > .minicart ul li.sale .minicart-image:before {
	content: '%';
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	position: absolute;
	right: -11px;
	top: 4px;
	z-index: 2;
	line-height: 24px;
	text-align: center;
	text-indent: -1px;
}
#primary-menu.no-responsive > li.menu-item-cart > .minicart ul li,
.hamburger-minicart > .minicart ul li {
	display: inline-block;
	padding: 4px 0 0 0;
	margin: 26px 0 0 0;
	width: 100%;
	border: 0;
	position: relative;
}
#primary-menu.no-responsive > li.menu-item-cart > .minicart ul li .variation,
.hamburger-minicart > .minicart ul li .variation {
	display: none;
}
#primary-menu.no-responsive > li.menu-item-cart > .minicart ul li.empty,
.hamburger-minicart > .minicart ul li.empty {
	padding-bottom: 25px;
}
#primary-menu.no-responsive > li.menu-item-cart > .minicart ul li:first-child,
.hamburger-minicart > .minicart ul li:first-child {
	margin: 0;
}
#primary-menu.no-responsive > li.menu-item-cart > .minicart ul li a,
.hamburger-minicart > .minicart ul li a {
	display: block;
	margin: 0 10px 0 0;
	border: 0;
	padding: 0;
}
#primary-menu.no-responsive > li.menu-item-cart > .minicart ul li a.remove,
.hamburger-minicart > .minicart ul li a.remove {
	padding: 0;
	margin: 0;
	position: absolute;
	right: 0;
	top: -7px;
	cursor: pointer;
}
#primary-menu.no-responsive > li.menu-item-cart > .minicart ul li .quantity,
.hamburger-minicart > .minicart ul li .quantity {
	display: inline-block;
	margin-top: 4px;
}
.widget_shopping_cart_content ul.cart_list li .cart-item-info {
	margin-left: 85px;
	padding-top: 5px;
}
.widget_shopping_cart_content .quantity {
	font-size: 123.5%;
	line-height: 1.421;
}
.widget_shopping_cart_content .minicart-bottom {
	margin-top: 25px;
}
#primary-menu.no-responsive > li.menu-item-cart .widget_shopping_cart_content .minicart-bottom,
.hamburger-minicart .widget_shopping_cart_content .minicart-bottom {
	padding: 20px 20px 20px;
}
#primary-menu.no-responsive > li.menu-item-cart > .minicart .total,
.hamburger-minicart > .minicart .total {
	padding: 15px 24px 0;
	margin-top: 24px;
}
#primary-menu.no-responsive > li.menu-item-cart > .minicart .total strong,
.hamburger-minicart > .minicart .total strong {
	float: left;
	display: inline-block;
	padding-top: 7px;
}
#primary-menu.no-responsive > li.menu-item-cart > .minicart .total span.amount,
.hamburger-minicart > .minicart .total span.amount {
	float: right;
}
#primary-menu.no-responsive > li.menu-item-cart > .minicart .buttons,
.hamburger-minicart > .minicart .buttons {
	padding: 14px 24px 23px;
}
#primary-menu.no-responsive > li.menu-item-cart > .minicart .buttons a,
.hamburger-minicart > .minicart .buttons a {
	margin: 0;
}
#primary-menu.no-responsive > li.menu-item-cart > .minicart .buttons .mini-cart-view-cart,
.hamburger-minicart > .minicart .buttons .mini-cart-view-cart {
	float: left;
}
#primary-menu.no-responsive > li.menu-item-cart > .minicart .buttons .mini-cart-view-cart .sod-button,
.hamburger-minicart > .minicart .buttons .mini-cart-view-cart .sod-button {
	border: 2px solid transparent;
	line-height: 26px;
}
#primary-menu.no-responsive > li.menu-item-cart > .minicart .buttons .mini-cart-checkout,
.hamburger-minicart > .minicart .buttons .mini-cart-checkout {
	float: right;
}
.widget_shopping_cart_content .cart_list .empty {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border: 0 none;
	margin-bottom: 1.421em;
}
.hamburger-minicart {
	position: relative;
	display: inline-block;
	margin: 5px 35px 0 0;
	vertical-align: middle;
	height: 60px;
	text-align: left;
}
.hamburger-group.hamburger-size-small .hamburger-minicart {
	height: 30px;
	margin-right: 20px;
}
.hamburger-minicart.hamburger-minicart-size-small {
	height: 30px;
	margin-right: 20px;
}

#primary-navigation.responsive .hamburger-minicart {
	display: none;
}
#primary-menu.no-responsive > li.menu-item-cart > .minicart ul li img,
.hamburger-minicart > .minicart ul li img {
	height: auto;
}

#primary-menu.no-responsive > li.menu-item-cart > .minicart,
.hamburger-minicart > .minicart {
	background-color: #ffffff;
	border-color: #dfe5e8;
}

#primary-menu.no-responsive > li.menu-item-cart > .minicart ul li a:hover,
.hamburger-minicart > .minicart ul li a:hover {
	color: #00bcd4;
}

#primary-menu.no-responsive > li.menu-item-cart > .minicart ul li .quantity,
#primary-menu.no-responsive > li.menu-item-cart > .minicart .total,
#primary-menu.no-responsive > li.menu-item-cart > .minicart ul li.empty,
.hamburger-minicart > .minicart ul li .quantity,
.hamburger-minicart > .minicart .total,
.hamburger-minicart > .minicart ul li.empty {
	font-family: 'Source Sans Pro';
	font-weight: 400;
	font-size: 16px;
	color: #99a9b5;
}

#primary-menu.no-responsive > li.menu-item-cart > .minicart .total strong,
.hamburger-minicart > .minicart .total strong {
	font-weight: 400;
}

#primary-menu.no-responsive > li.menu-item-cart > .minicart ul li .quantity span.amount,
#primary-menu.no-responsive > li.menu-item-cart > .minicart .total span.amount,
.hamburger-minicart > .minicart ul li .quantity span.amount,
.hamburger-minicart > .minicart .total span.amount {
	font-weight: 300;
	font-size: 20px;
	color: #3c3950;
}

#primary-menu.no-responsive > li.menu-item-cart > .minicart .total span.amount,
.hamburger-minicart > .minicart .total span.amount {
	font-size: 24px;
}

#primary-menu.no-responsive > li.menu-item-cart > .minicart ul li a.remove,
.hamburger-minicart > .minicart ul li a.remove {
	font-size: 18px;
	color: #99a9b5;
}

#primary-menu.no-responsive > li.menu-item-cart > .minicart .total,
#primary-menu.no-responsive > li.menu-item-cart > .minicart .buttons,
.hamburger-minicart > .minicart .total,
.hamburger-minicart > .minicart .buttons {
	background-color: #f0f3f2;
}

#primary-menu.no-responsive > li.menu-item-cart > .minicart ul li.sale .minicart-image:before,
.hamburger-minicart > .minicart ul li.sale .minicart-image:before {
	color: #ffffff;
	background-color: #00bcd4;
	font-family: 'Source Sans Pro';
	font-size: 16px;
	font-weight: 400;
}

#primary-menu.no-responsive > li.menu-item-cart > .minicart .buttons .mini-cart-checkout .sod-button,
.hamburger-minicart > .minicart .buttons .mini-cart-checkout .sod-button {
	border-color: #46485c;
	color: #46485c;
}

#primary-menu.no-responsive > li.menu-item-cart > .minicart .buttons .mini-cart-checkout .sod-button:hover,
.hamburger-minicart > .minicart .buttons .mini-cart-checkout .sod-button:hover {
	background: #46485c;
	color: #ffffff;
}

#primary-menu.no-responsive > li.menu-item-cart > .minicart .buttons .mini-cart-view-cart .sod-button,
.hamburger-minicart > .minicart .buttons .mini-cart-view-cart .sod-button {
	background-color: #00bcd4;
}

#primary-menu.no-responsive > li.menu-item-cart > .minicart .buttons .mini-cart-view-cart .sod-button:hover,
.hamburger-minicart > .minicart .buttons .mini-cart-view-cart .sod-button:hover {
	border-color: #00bcd4;
	background-color: transparent;
	color: #00bcd4;
}
