/*pricing tabels*/
.pricing-row,
.pricing-price-row,
.pricing-title-row
{
    text-align: center;
}
.pricing-table-style-1 .pricing-price-title {
    font-size: 24px;
    letter-spacing: 1px;
    color: #5f727f;
    text-transform: uppercase;
}
.pricing-table-style-1 .pricing-column-wrapper {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 20px;
}
.pricing-table-style-1 .highlighted.pricing-column-wrapper {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
}
.pricing-table-style-1 .pricing-column-wrapper .pricing-price {
    background-color: #b0de79;
}
.pricing-table-style-1 .pricing-column-wrapper + .pricing-column-wrapper .pricing-price {
    background-color: #7ee0bf;
}
.pricing-table-style-1 .pricing-column-wrapper + .pricing-column-wrapper + .pricing-column-wrapper .pricing-price {
    background-color: #83bce9;
}
.pricing-table-style-1 .pricing-column-wrapper + .pricing-column-wrapper + .pricing-column-wrapper + .pricing-column-wrapper   .pricing-price {
    background-color: #a289e8;
}
.highlighted .pricing-price-subtitle {
    display: block;
}
 .pricing-price-subtitle {
    display: none;
}
.pricing-table-style-1 .pricing-cost {
    font-size: 65px;
    color: #ffffff;
    line-height: 1;
}
.pricing-table-style-1 .pricing-price {
    display: inline-block;
    width: 100%;
}
.pricing-table-style-1 .time {
    color: #ffffff;
}
.pricing-table-style-1 .pricing-column {
    background-color: #f0f3f2;
}
.pricing-table-style-1 .highlighted .pricing-column {
    background-color: #ffffff;
}
.pricing-table-style-1 .pricing-price {
    padding: 29px 10px 29px 10px;
}
.pricing-table-style-1 .pricing-price-title-wrapper {
    padding-top: 33px;
    padding-bottom: 33px;
}
.pricing-table-style-1 .pricing-column-wrapper .pricing-price{
    overflow: hidden;
}
.pricing-table-style-1 .pricing-row {
    padding-top: 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dfe5e8;
}

.pricing-table-style-1 .pricing_row_title {
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 5px;
    color: #3c3950;
}
.pricing-table-style-1 .pricing_row_subtitle {
    font-size: 14px;
    color: #99a9b5;
}
.pricing-column-top-choice{
    position: absolute;
}
.pricing-table-style-1 .pricing-column {
    background-color: #f0f3f2;
    border: 1px solid #dfe5e8;
    margin-right: -1px;
}
.pricing-column-wrapper {
    min-width: 271px;
}
.pricing-table-style-1 .pricing-column-wrapper .pricing-price {
    margin-right: -1px;
    margin-left: -1px;
    width: 101%;
}
.pricing-table-style-1 .pricing-column .pricing-row:last-of-type {
    border-bottom: none;
}
.pricing-table-style-1 .pricing-footer{
    padding-bottom: 26px;
}
.pricing-table-style-1 .highlighted .pricing-price-title-wrapper {
    padding-bottom: 28px;
}
.pricing-table-style-8 .pricing-price,
.pricing-table-style-7 .pricing-price,
.pricing-table-style-4 .pricing-price-row,
.pricing-table-style-3 .pricing-price-row,
.pricing-table-style-2 .pricing-price,
.pricing-table-style-1 .pricing-price-row {
    background-color: transparent !important;
    background-image: none !important;
}
.pricing-table-style-5 .pricing-price {
    background-image: none !important;
    background-color: #ffffff !important;
}

.pricing-table-style-1,
.pricing-row.strike {
    text-decoration: line-through;
    color: #99a9b5;
}
.pricing-table-style-1 .highlighted .pricing-footer {
    padding-bottom: 46px;
}
.pricing-table-style-2 .pricing-price-row{
    background-color: #393d50;
    display: inline-block;
    width: 100%;
}
.pricing-table-style-2 .pricing-price {
    background-color: transparent;
}
.pricing-table-style-2 .pricing-price-title {
color: #00bcd4;
}
.pricing-table-style-2 .pricing_row_title {
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 5px;
    color: #00bcd4;
}
.pricing-table-style-2 .pricing_row_subtitle {
    font-size: 14px;
    color: #99a9b5;
}
.pricing-table-style-2 .highlighted .pricing-price-title,
.pricing-table-style-2 .highlighted .time{
    color: #ffffff
}
.pricing-table-style-2 .pricing-price-subtitle {
    display: none;
}
.pricing-table-style-2 .pricing-cost {
    display: inline-block;
    color: #99a9b5;

}
.pricing-table-style-2 .pricing-price .time {
    text-transform: capitalize;
    display: inline-block;
    padding-left: 10px;
}
.pricing-table-style-2 .pricing-price-title {
    padding-bottom: 20px;
    text-transform: uppercase;
    padding-top: 10px;
}
.pricing-table-style-2 .pricing-price-row {
    padding: 38px 10px;
}
.pricing-table-style-2 .pricing-cost {
    color: #ffffff;
}
.pricing-table-style-2 .pricing-column {
    background-color: #ffffff;
}
.pricing-table-style-2 .pricing-row:nth-child(odd) {
    background-color: #f4f6f7;
}
.pricing-table-style-2 .pricing-column .pricing-row {
    padding: 16px 10px;
}
.pricing-table-style-2 .pricing-footer {
    padding-top: 17px;
}
.pricing-table-style-2  .pricing-row {
    border-left: 2px solid #dfe5e8;
    border-right: 2px solid #dfe5e8; ;
}
.pricing-table-style-2 .pricing-footer {
    border: 2px solid #dfe5e8;
    border-top: medium none ;
}
.pricing-table-style-2 .highlighted .pricing-row {
    border-left: 2px solid #393d50;
    border-right: 2px solid #393d50; ;
}
.pricing-table-style-2 .highlighted .pricing-footer {
    border: 2px solid #393d50;
    border-top: medium none ;
}



.pricing-table-style-2 .highlighted .pricing-column{
    margin-top: 0px;
}
.pricing-table-style-2 .highlighted .pricing-price-subtitle {
    display: block;
    margin-bottom: 10px;
    margin-top: -6px;
}
.pricing-table-style-2 .pricing-column {
    margin-top: 30px;
}
.pricing-table-style-3 .pricing-column{
    background-color: #f0f3f2;
    border-radius: 50px;
    overflow: hidden;
}


.pricing-table-style-3 .pricing-price-wrapper {
    margin-left: -90px;
    padding-left: 50%;
    padding-bottom: 34px;
 }

.pricing-table-style-3 .pricing-price {
    border-radius: 50%;
    height: 180px;
    background-color: #ffffff;
    display: table-cell;
    width: 180px;
    vertical-align: middle;
}
.pricing-table-style-3 .pricing-cost {
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
}
.pricing-table-style-3 .time {
    font-size: 24px;
    font-weight: 300;
    color: #00bcd4;
}
.pricing-table-style-3 .pricing-price-title {
    font-size: 24px;
    font-weight: 300;
    color: #3c3950;
}

.pricing-table-style-3 .pricing-price-title {
    font-size: 24px;
    font-weight: 300;
    color: #3c3950;
}
.pricing-table-style-3 .highlighted .pricing-price-subtitle {
    color: #5f727f;
    font-size: 14px;
}
.pricing-table-style-3 .highlighted .pricing-price-title {
    color: #99a9b5;
}
.pricing-table-style-3 .highlighted .pricing-column {
   background-color:#393d50 ;
    padding-top: 31px;
}
.pricing-table-style-3 .highlighted .pricing-row.pricing-row-title {
    padding-top: 5px;
}
.pricing-table-style-3 .pricing-price-row {
    padding-top: 46px;
}

.pricing-table-style-3 .pricing-column-wrapper.highlighted {
    margin-top: 0px;
}
.pricing-table-style-3 .pricing-column-wrapper {
    margin-top: 30px;
}
.pricing-table-style-3 .pricing_row_subtitle {
    color: #5f727f;
    font-size: 14px;
    padding-top: 3px;
}
.pricing-table-style-3 .pricing-price-title-wrapper {
    padding-bottom: 20px;
    margin-top: -3px;
}
.pricing-table-style-3 .pricing_row_title {
    text-transform: uppercase;
}
.pricing-table-style-3 .highlighted .pricing_row_title {
    color: #ffffff;
}
.pricing-table-style-3 .pricing_row_title {
    color: #3c3950;
}
.pricing-table-style-3 .highlighted .pricing_row_subtitle {
    color: #5f727f;
}
.pricing-table-style-3 .pricing_row_subtitle {
    color: #99a9b5;
    padding-bottom: 6px;
}
.pricing-table-style-3 .pricing-row.pricing-row-title {
    padding-bottom: 19px;
    position: relative;
    margin-bottom: 20px;
}
.pricing-table-style-3 .pricing-price-subtitle{
    display: block;
    font-size: 14px;
    color: #5f727f;
    margin-top: 6px;
}
.pricing-table-style-3  .highlighted .pricing-price-wrapper {
    padding-bottom: 26px;
}

.pricing-table-style-3 .pricing-row-title:after {
    position: absolute;
    width: 50%;
    height: 1px;
    content: '';
    background-color: #00bcd4;
    bottom: 0;
    left: 25%;
}
.pricing-table-style-3 .pricing-row {
    padding-bottom: 10px;
}
.pricing-table-style-3 .pricing-footer {
    padding-bottom:25px;
}
.pricing-table-style-3 .highlighted .pricing-footer {
    padding-bottom: 50px;
}
.pricing-table-style-4 .pricing-cost {
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
}
.pricing-table-style-4 .time {
    font-size: 24px;
    font-weight: 300;
    color: #00bcd4;
}
.pricing-table-style-4 .pricing-price-subtitle,
.pricing-table-style-4 .pricing-price-title{
    display: none;
}
.pricing-price-wrapper {
    text-align: center;
}

.pricing-table-style-4 .pricing-column-wrapper .pricing-price {
    background-color: #00bcd4;
    -webkit-box-shadow: 0px 0px 0px 10px rgba(0, 188, 212, 0.31);
    -moz-box-shadow:    0px 0px 0px 10px rgba(0, 188, 212, 0.31);
    box-shadow:         0px 0px 0px 10px rgba(0, 188, 212, 0.31);
}
.pricing-table-style-4 .pricing-column-wrapper + .pricing-column-wrapper .pricing-price {
    background-color: #a637ec;
    -webkit-box-shadow: 0px 0px 0px 10px rgba(166, 55, 236, 0.31);
    -moz-box-shadow:    0px 0px 0px 10px rgba(166, 55, 236, 0.31);
    box-shadow:         0px 0px 0px 10px rgba(166, 55, 236, 0.31);
}
.pricing-table-style-4 .pricing-column-wrapper + .pricing-column-wrapper + .pricing-column-wrapper .pricing-price {
    background-color: #ee417c;
    -webkit-box-shadow: 0px 0px 0px 10px rgba(238, 65, 124, 0.31);
    -moz-box-shadow:    0px 0px 0px 10px rgba(238, 65, 124, 0.31);
    box-shadow:         0px 0px 0px 10px rgba(238, 65, 124, 0.31);
}
.pricing-table-style-4 .pricing-column-wrapper + .pricing-column-wrapper + .pricing-column-wrapper + .pricing-column-wrapper   .pricing-price {
    background-color: #ff994e;
    -webkit-box-shadow: 0px 0px 0px 10px rgba(255, 153, 78, 0.31);
    -moz-box-shadow:    0px 0px 0px 10px rgba(255, 153, 78, 0.31);
    box-shadow:         0px 0px 0px 10px rgba(255, 153, 78, 0.31);
}
.pricing-table-style-4 .pricing-column-wrapper .pricing-row:before,
.pricing-table-style-4 .pricing-column-wrapper .pricing_row_title {
   color: #00bcd4;
}
.pricing-table-style-4 .pricing-column-wrapper + .pricing-column-wrapper .pricing-row:before,
.pricing-table-style-4 .pricing-column-wrapper + .pricing-column-wrapper .pricing_row_title {
    color: #a637ec;
}
.pricing-table-style-4 .pricing-column-wrapper + .pricing-column-wrapper + .pricing-column-wrapper .pricing-row:before,
.pricing-table-style-4 .pricing-column-wrapper + .pricing-column-wrapper + .pricing-column-wrapper .pricing_row_title {
    color: #ee417c;
}
.pricing-table-style-4 .pricing-column-wrapper + .pricing-column-wrapper +  .pricing-column-wrapper + .pricing-column-wrapper  .pricing-row:before,
.pricing-table-style-4 .pricing-column-wrapper + .pricing-column-wrapper + .pricing-column-wrapper + .pricing-column-wrapper   .pricing_row_title {
    color: #ff994e;
}
.pricing-table-style-4  figure.pricing-row:first-of-type {
    padding-top: 15px;
}

.pricing-table-style-4 .pricing-price {
    border-radius: 50%;
    height: 180px;
    background-color: #ffffff;
    width: 180px;
    display: inline-block;
    padding-top: 46px;
}
.pricing-table-style-7 .pricing-column  .pricing-price-row-width-background .wrap-style {
    display: none;
}

.pricing-table-style-4 .pricing-column-wrapper.col-md-4 .pricing-price-wrapper {
	padding: 91px 91px;
}
.pricing-table-style-4 .pricing-price-wrapper {
    padding-bottom: 34px;
}
.pricing-table-style-4 .pricing-price-wrapper,
.pricing-table-style-4 .pricing-row,
.pricing-table-style-4 .pricing-footer{
    background-color: #2c2e3d;
}

.pricing-table-style-4 .highlighted .pricing-price-wrapper,
.pricing-table-style-4 .highlighted .pricing-row,
.pricing-table-style-4 .highlighted .pricing-footer{
    background-color: #393d50;
}
.pricing-table-style-4 .pricing-row.pricing-row-title {
    padding: 26px 10px;
}
.pricing-table-style-4 .pricing-price-wrapper {
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    padding-top: 45px;
}
.pricing-table-style-4  .pricing-row:before {
    vertical-align: middle;
    content: '\e614';
    color: #00bfa5;
    font-family: thesod-icons;
    text-align: center;
    padding-right: 10px;
}
.pricing-table-style-4 .pricing-row {
    padding: 5px 10px;
}
.pricing-table-style-4 .pricing-row.pricing-row-title:before,
.pricing-table-style-4 .strike.pricing-row:before {
    display: none;
}
.pricing-table-style-4  .pricing-footer {
    padding-bottom: 20px;
}
.pricing-table-style-4 .pricing-price,
.pricing-table-style-4 .time{
    color: #ffffff;
}
.pricing-table-style-4 .pricing_row_title {
    text-transform: uppercase;
}
.pricing-table-style-4 .pricing-row.pricing-row-title {
    background-color: #393d50;
}
.pricing-table-style-4 .pricing_row_subtitle {
    font-size: 14px;
}
.pricing-table-style-5 .pricing-price-wrapper {
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    top: -60px;
}
.pricing-table-style-5 .pricing-price-row {
    min-height: 272px;
    background-size: cover;
}
.pricing-table-style-5 .highlighted .pricing-price {
    background-color: #2c2e3d !important;
}
.pricing-table-style-5 .pricing-price {
    background-color: #ffffff;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    vertical-align: middle;
    display: table-cell;
}
.pricing-table-style-5 .pricing-price-wrapper {
    display: table-cell;
    vertical-align: middle;
}
.pricing-table-style-5 .pricing-cost {
    font-size: 32px;
    font-weight: 300;
}
.pricing-table-style-5 .pricing-column-wrapper .pricing-cost {
    color: #2196f7;
}
.pricing-table-style-5 .pricing-column-wrapper + .pricing-column-wrapper .pricing-cost {
    color: #d74498;
}
.pricing-table-style-5 .pricing-column-wrapper + .pricing-column-wrapper + .pricing-column-wrapper .pricing-cost {
    color: #32ad1e;
}
.pricing-table-style-5 .pricing-column-wrapper + .pricing-column-wrapper + .pricing-column-wrapper + .pricing-column-wrapper   .pricing-cost {
    color: #ff994e;
}
.pricing-table-style-5 .pricing-price-title {
    color: #ffffff;
    padding-top: 128px;
    text-transform: uppercase;
}
.pricing-table-style-5 .pricing-price-subtitle {
    display: block;
    color: #b6c6c9;
    padding-top: 10px;
}
.pricing-table-style-5 .pricing-row:nth-child(odd) {
    background-color: #f4f6f7;
}
.pricing-table-style-5 .pricing_row_title {
    font-size: 24px;
    font-weight: 300;
}
.pricing-table-style-5 .pricing_row_subtitle{
    color: #99a9b5;
    font-size: 14px;
}
.pricing-table-style-5 .pricing-row.pricing-row-title {
    padding-top: 20px;
    padding-bottom: 20px;
}
.pricing-table-style-5 figure.pricing-row {
    padding: 12px;
}
.pricing-table-style-5  {
    padding-top: 70px;
}
.pricing-table-style-5 .pricing-column {
    background-color: #ffffff;
}
.pricing-table-style-5 .pricing-footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pricing-table-style-6.pricing-table {
    margin-top: 60px;
}
.pricing-table-style-6 .pricing-column-wrapper{
    padding: 0px;
}
.pricing-table-style-6 .pricing-price {
    background-color: #393d50;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    vertical-align: middle;
    display: table-cell;
}
.pricing-table-style-6 .pricing-price-wrapper {
    display: table-cell;
    vertical-align: middle;
    top: -60px;
    position: absolute;
    left: 11%;
}
.pricing-table-style-6 .pricing-column {
    background-color: #ffffff;
}
.pricing-table-style-6 .pricing-cost {
    font-size: 32px;
    font-weight: 300;
}
.pricing-table-style-6 .pricing-price-title-wrapper {
    min-height: 246px;
    padding-bottom: 30px;
}
.pricing-table-style-6 .pricing-price {
    background-image: none !important;
    background-color: #393d50;
}
.pricing-table-style-6 .pricing-column-wrapper .pricing-price-row {
    background-color: #00bcd4;
}
.pricing-table-style-6 .pricing-column-wrapper + .pricing-column-wrapper .pricing-price-row {
    background-color: #1c94ca;
}
.pricing-table-style-6 .pricing-column-wrapper + .pricing-column-wrapper + .pricing-column-wrapper  .pricing-price-row {
    background-color: #7264bd;
}
.pricing-table-style-6 .pricing-column-wrapper + .pricing-column-wrapper + .pricing-column-wrapper + .pricing-column-wrapper   .pricing-price-row {
    background-color: #52488a;
}
.pricing-table-style-6 .pricing-price-title{
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 132px;
    text-align: left;
    padding-left: 43px;
}
.pricing-table-style-6 .pricing-price-subtitle {
    text-transform: uppercase;
    color: #ffffff;
    text-align: left;
    padding-left: 43px;
    padding-top: 12px;
    display: block;
    line-height: 1.4;
}
.pricing-table-style-6 .pricing-cost {
    color: #04d7f2;
}
.pricing-table-style-6 .time {
    color: #99a9b5;
}
.pricing-table-style-6 .pricing_row_title {
    font-size: 24px;
    font-weight: 300;
    padding-left: 42px;
    text-align: left;
}
.pricing-table-style-6 .pricing_row_subtitle {
    font-size: 14px;
    color: #99a9b5;
    padding-left: 42px;
    padding-top: 5px;
    text-align: left;
}
.pricing-table-style-6 .pricing-row {
    text-align: left;
    padding: 14px 0;
	padding-left: 42px;
	padding-right: 20px;
}

.pricing-table-style-6 .pricing-row:nth-child(odd) {
    background-color: #f4f6f7;
}
.pricing-table-style-6 figure:before{
    content: '\e647';
    color: #5f727f;
    font-family: thesod-icons;
    padding-right: 12px;
    vertical-align: middle;
}
.pricing-table-style-6 .pricing-row.pricing-row-title {
    padding-top: 24px;
    padding-bottom: 19px;
}
.pricing-table-style-6 .sod-button-container.sod-button-position-center .sod-button {
    margin-left: 42px;
}
.pricing-table-style-6 .pricing-footer {
    padding-top: 20px;
}
.pricing-table-style-6 .pricing-footer {
    border-bottom: 1px solid #dfe5e8;
}
.pricing-table-style-6 .pricing-footer,
.pricing-table-style-6 .pricing-row {
    border-left: 1px solid #dfe5e8;
    border-right: 1px solid #dfe5e8;
    margin-right: -1px;
}
.pricing-table-style-6 .pricing-price-row {
    margin-right: -1px;
}
.pricing-table-style-6 .sod-button-position-center {
    text-align: left;
}
.pricing-table-style-6 .pricing-price-subtitle {
    max-width: 370px;
}
.pricing-table-style-7.pricing-table {
    margin-top: 30px;
}
.pricing-table-style-7 .pricing-price-row {
    background-color: #393d50;
    padding-bottom: 59px;
    padding-top: 46px;
    position: relative;

}
.pricing-table-style-7 .pricing-price-title-wrapper {
    color: #ffffff;
}
.pricing-table-style-7  .pricing-price-title {
    text-transform: uppercase;
}
.pricing-table-style-7 .pricing-cost {
    padding-top: 46px;
    padding-bottom: 23px;
    font-size: 65px;
    color: #6c7c86;
}
.pricing-table-style-7  .time {
    color: #ffd54f;
}
.pricing-table-style-7 .wrap-style {
    transform: rotate(270deg);
    transform-origin: 0 100%;
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin: 0 100%;
    overflow: visible;
    width: 100px;
    height: 100px;
    z-index: 199;
    position: absolute;
    bottom: -49px;
    fill: #393d50;
    left: 50%;
    margin-left: 50px;
}
.pricing-table-style-7  .pricing-column-wrapper {
    margin-top: 40px;
}
.pricing-table-style-7  .highlighted.pricing-column-wrapper {
    margin-top: 0px;
}
.pricing-table-style-7 .pricing-column-top-choice-text {
    transform: rotate(318deg);
    -webkit-transform: rotate(318deg);
}

.pricing-table-style-7 .highlighted .pricing-price-row {
    background-color: #ffffff;
    padding-bottom: 59px;
    padding-top: 54px;
    position: relative;
}
.pricing-table-style-7 .highlighted .pricing-cost {
    padding-top: 54px;
}
.pricing-table-style-7 .highlighted .pricing-price-title {
    color: #3c3950;
}
.pricing-table-style-7 .highlighted .pricing-price-subtitle {
    color: #99a9b5;
}
.pricing-table-style-7 .highlighted .wrap-style {
    fill: #ffffff;
}
.pricing-table-style-7 .highlighted .time{
color: #ff8f00
}
.pricing-table-style-7 .highlighted .pricing_row_title {
    color: #5f727f;
}
.pricing-table-style-7  .pricing-column {
    background-color: #ffffff;
}
.pricing-table-style-7 .highlighted .pricing-footer {
    padding-bottom: 40px;
}
.pricing-table-style-7 .highlighted .pricing_row_subtitle {
    color: #ffffff;
}
.pricing-table-style-7 .highlighted .pricing-row,
.pricing-table-style-7 .highlighted .pricing-column{
    background-color: #c5d2d4;
}
.pricing-table-style-7 .pricing-price-row  {
    margin-bottom: 57px;
}
.pricing-table-style-7 .pricing-row  {
    border-bottom:1px solid #dfe5e8;
    padding: 10px 13px;
}
.pricing-table-style-7 .pricing-row:last-of-type {
    border-bottom: none;
}
.pricing-table-style-7 .pricing-column  .wrap-style  {
    display: block;
}
.pricing-column .wrap-style {
    display: none;
}
.pricing-table-style-7 .pricing_row_title {
    font-size: 24px;
    font-weight: 300;
    color: #00bcd4;
}
.pricing-table-style-7 .pricing_row_subtitle {
    color: #99a9b5;
    font-size: 14px;
    padding-top: 6px;
}

.pricing-table-style-8 .pricing-price {
    border-radius: 50%;
    height: 160px;
    background-color: #5f727f;
    display: table-cell;
    width: 160px;
    vertical-align: middle;
    border: 3px solid #00bcd4;
}
.pricing-table-style-8.pricing-table {
    margin-top: 30px;
}
.pricing-table-style-8 .pricing-cost {
    font-size: 42px;
    font-weight: 300;
    line-height: 1;
    color: #ffffff;
}
.pricing-table-style-8 .time {
    font-weight: 300;
    color: #b6c6c9;
}
.pricing-table-style-8  .pricing-price-row  {
    background-color: #5f727f;
}
.pricing-table-style-8  .pricing-price-title {
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
}
.pricing-table-style-8 .pricing-price-subtitle {
    color: #5f727f;
    padding-top: 6px;
    float: left;
    width: 100%;
    padding-bottom: 11px;

}
.pricing-table-style-8 .highlighted .pricing-price-row  {
    background-color: #393d50;
}
.pricing-table-style-8 .highlighted  .pricing-cost {
    color: #00bcd4;
}
.pricing-table-style-8 .highlighted .pricing-price {
    border: 3px solid #ffffff;
}
.pricing-table-style-8 .highlighted .pricing-column {
    margin-top: 0px;
}
.pricing-table-style-8 .highlighted .pricing_row_subtitle {
    color: #5f727f;
}
.pricing-table-style-8  .pricing-column {
    margin-top: 20px;
    border-radius: 12px;
    overflow: hidden;
}
.pricing-table-style-8 .highlighted .pricing-price-wrapper {
    padding-top: 70px;
}
.pricing-table-style-8 .pricing-price-wrapper {
    padding-left: 50%;
    margin-left: -80px;
    padding-top: 50px;
}
.pricing-table-style-8  .pricing-footer,
.pricing-table-style-8  .pricing-row {
background-color: #ffffff;
}
.pricing-table-style-8  .pricing-price-title-wrapper {
    padding-top: 28px;
    margin-bottom: -30px
}

.pricing-table-style-8 .highlighted .pricing-row.pricing-row-title {
    background-color: #393d50;
}
.pricing-table-style-8 .pricing-row.pricing-row-title {
    background-color: #5f727f;
    padding-top: 17px;
    padding-bottom: 23px;
}
.pricing-table-style-8  .pricing_row_title {
    color: #ffffff;
    text-transform: uppercase;
}
.pricing-table-style-8  .pricing_row_subtitle {
     color: #b6c6c9;
}
.pricing-table-style-8  .pricing-row {
    padding: 10px 10px;
    border-bottom: 2px solid #dfe5e8;
}
.pricing-table-style-8  .pricing-row:last-of-type {
    border-bottom: medium none;
}
.pricing-table-style-8   .pricing-footer {
    padding-bottom: 20px;
}
.pricing-table-style-8 .highlighted .pricing-footer {
    padding-bottom: 45px;
}
.pricing-column-top-choice {
    background-color: #393d50;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 100;
}
.pricing-column-top-choice-text {
    margin-top: 2px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}
.pricing-table-style-1 .pricing-column-top-choice {
    top: -25px;
    left: 38px;
}
.pricing-table-style-1 .pricing-column-top-choice .pricing-column-top-choice-text {
    color: #ffffff;
    margin-top: 13px;

}
.pricing-table-style-2 .pricing-column-top-choice {
    top: -25px;
    left: 38px;
    background-color: #ffcd37;
}
.pricing-table-style-2 .pricing-column-top-choice .pricing-column-top-choice-text {
    color: #393d50;
    margin-top: 19px;
    font-size: 12px;
}

.pricing-table-style-2 .pricing-column-top-choice {
    top: 0px;
    left: 50%;
    width: 62px;
    height: 62px;
    margin-left: -25px;
    background-color: #ffcd37;
}
.pricing-table-style-2  .highlighted .pricing-column-top-choice {
    margin-top: -30px;

}

.pricing-table-style-3  .highlighted .pricing-column-top-choice {
    margin-top: -30px;
}
.pricing-table-style-3 .pricing-column-top-choice .pricing-column-top-choice-text {
    color: #ffffff;
    margin-top: 18px;

}
.pricing-table-style-3 .pricing-column-top-choice {
    top: -25px;
    left: 55px;
    width: 62px;
    height: 62px;
    background-color: #f44336;
}
.pricing-table-style-3  .highlighted .pricing-column-top-choice {
    margin-top: 0px;
}


.pricing-table-style-4 .pricing-column-top-choice .pricing-column-top-choice-text {
    color: #ffffff;
    margin-top: 28px;
    font-size: 16px;
}
.pricing-table-style-4 .pricing-column-top-choice {
    top: -20px;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    background-color: #2c2e3d;
}


.pricing-table-style-8 .pricing-column-top-choice
{
    position: absolute;
    top: 20px;
    left: 50px;
    width: 50px;
    height: 45px;
    line-height: 50px;
    text-align: center;
    z-index: 10;
    border-radius: 0;
    background-color: #00bcd4;
}
.pricing-table-style-8 .pricing-column-top-choice:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    z-index: -1;
    bottom: -10px;
    left: 0;
    background: inherit;
}
.pricing-table-style-8 .pricing-column-top-choice:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    z-index: -1;
    bottom: -10px;
    left: 0;
    background: inherit;
}
.pricing-table-style-8 .pricing-column-top-choice:after {
    transform-origin: 100% 100%;
    transform: skew(0, 20deg);
}
.pricing-table-style-8 .pricing-column-top-choice:before {
    transform-origin: 0 100%;
    transform: skew(0, -20deg);
}
.pricing-table-style-8  .highlighted .pricing-column-top-choice {
    top: 0;
}
.svg_pricing {
    width: 70px;
    height: 70px;
    z-index: 1;
}
.pricing-table-style-5 .pricing-column-top-choice .pricing-column-top-choice-text {
    color: #ffffff;
    margin-top: 20px;
    font-size: 14px;
    width: 65px;
    position: absolute;
    top: 0;
}
.pricing-table-style-5  .pricing-column-top-choice {
    background-color: transparent;
}
.pricing-table-style-5 .svg_pricing {
    display: block;
    fill: #00bcd4;
}
.pricing-table-style-5  .pricing-column-top-choice {
    width: 0;
    height: 0;
    padding: 0px;
    top: -15px;
    left: 6px;
}


.pricing-table-style-6 .pricing-column-top-choice .pricing-column-top-choice-text {
    color: #ffffff;
    margin-top: 20px;
    font-size: 14px;
    width: 65px;
    position: absolute;
    top: 0;
}
.pricing-table-style-6  .pricing-column-top-choice {
    background-color: transparent;
}
.pricing-table-style-6 .svg_pricing {
    display: block;
    fill: #00bcd4;
}
.pricing-table-style-6  .pricing-column-top-choice {
    width: 0;
    height: 0;
    padding: 0px;
    top: -40px;
    left: 145px;
}
.pricing-table-style-6  .pricing-column-wrapper.col-md-3 .pricing-column-top-choice {
    left: 137px;
}
.pricing-table-style-7 .pricing-column-top-choice .pricing-column-top-choice-text {
    color: #ffffff;
    margin-top: 22px;
    font-size: 14px;
    width: 65px;
    position: absolute;
    top: 0;
}
.pricing-table-style-7  .pricing-column-top-choice {
    background-color: transparent;
}
.pricing-table-style-7 .svg_pricing {
    display: block;
    fill: #00bcd4;
}
.pricing-table-style-7  .pricing-column-top-choice {
    width: 0;
    height: 0;
    padding: 0px;
    top: -15px;
    left: 6px;
}

.svg_pricing {
    display: none;
}

@media (max-width: 540px) {
    .inline-column.pricing-column-wrapper {
        padding: 0px;
    }
}
