.hover-zooming-blur .portfolio-item .image .image-inner img,
.hover-zooming-blur .gallery-item .overlay-wrap .image-wrap img{
	overflow: hidden;
	-webkit-transform: translate(0,0) scale(1);
	transform: translate(0,0) scale(1);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}
.hover-zooming-blur .portfolio-item:hover .image .image-inner img,
.hover-zooming-blur .gallery-item:hover .overlay-wrap .image-wrap img{
	-webkit-transform: translate(0,0) scale(1.12);
	transform: translate(0,0) scale(1.12);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}
.news-grid.hover-zooming-blur .portfolio-item:hover .image.format-video.has-post-thumbnail .image-inner img {
	-webkit-transform: translate(0,0) scale(1);
	transform: translate(0,0) scale(1);
}
.hover-zooming-blur .portfolio-item .image .overlay,
.hover-zooming-blur .portfolio-item:hover .image .overlay,
.hover-zooming-blur .gallery-item .overlay-wrap .overlay,
.hover-zooming-blur .gallery-item:hover .overlay-wrap .overlay{
	display: block;
}
.hover-zooming-blur .portfolio-item .image .overlay:before,
.hover-zooming-blur .gallery-item .overlay-wrap .overlay:before{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s 0.2s;
	transition: opacity 0.5s 0.2s;
}
.hover-zooming-blur .portfolio-item:hover .image .overlay:before,
.hover-zooming-blur .gallery-item:hover .overlay-wrap .overlay:before{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	content: '';
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.hover-zooming-blur .portfolio-item .image .overlay .links .portfolio-icons > .icon,
.hover-zooming-blur .portfolio-item .image .overlay .links .portfolio-icons-inner > .icon,
.hover-zooming-blur .gallery-item .overlay .overlay-content-inner a.icon,
.portfolio.products.hover-zooming-blur .portfolio-item .image .overlay .portfolio-icons.product-bottom a.added_to_cart{
	opacity: 0;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: 200px;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: opacity 0.3s 0.2s, -webkit-transform 0s 0.5s, top 0.3s 0.2s;
	transition: opacity 0.3s 0.2s, transform 0s 0.5s, top 0.3s 0.2s;
}
.hover-zooming-blur .gallery-item .overlay .overlay-content-inner a.icon.link{
	margin-left: 10px;
}
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-icons > .icon,
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-icons-inner > .icon,
.hover-zooming-blur .gallery-item:hover .overlay .overlay-content-inner a.icon,
.portfolio.products.hover-zooming-blur .portfolio-item:hover .image .overlay .portfolio-icons.product-bottom a.added_to_cart{
	opacity: 1;
	top: 0;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: top 0s;
	transition: top 0s;
}
.portfolio.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-icons > .icon:hover,
.portfolio.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-icons-inner > .icon:hover{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition: transform 0.2s;
	transition: transform 0.2s;
}
.portfolio.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-icons > .yith-wcwl-add-to-wishlist.added.icon:hover,
.portfolio.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-icons-inner > .yith-wcwl-add-to-wishlist.added.icon:hover{
	-webkit-transform: none;
	transform: none;
}
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-icons > .icon:nth-child(1),
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-icons-inner > .icon:nth-child(1),
.hover-zooming-blur .gallery-item:hover .overlay .overlay-content-inner a.icon:nth-child(1),
.portfolio.products.hover-zooming-blur .portfolio-item:hover .image .overlay .portfolio-icons.product-bottom a.added_to_cart{
	-webkit-transition: opacity 0.5s 0s, -webkit-transform 0.4s 0s;
	transition: opacity 0.5s 0s, transform 0.4s 0s;
}
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-icons > .icon:nth-child(2),
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-icons-inner > .icon:nth-child(2),
.hover-zooming-blur .gallery-item:hover .overlay .overlay-content-inner a.icon:nth-child(2){
	-webkit-transition: opacity 0.5s 0.05s, -webkit-transform 0.4s 0.05s;
	transition: opacity 0.5s 0.05s, transform 0.4s 0.05s;
}
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-icons > .icon:nth-child(3),
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-icons-inner > .icon:nth-child(3),
.hover-zooming-blur .gallery-item:hover .overlay .overlay-content-inner a.icon:nth-child(3){
	-webkit-transition: opacity 0.5s 0.1s, -webkit-transform 0.4s 0.1s;
	transition: opacity 0.5s 0.1s, transform 0.4s 0.1s;
}
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-icons > .icon:nth-child(4),
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-icons-inner > .icon:nth-child(4),
.hover-zooming-blur .gallery-item:hover .overlay .overlay-content-inner a.icon:nth-child(4){
	-webkit-transition: opacity 0.5s 0.15s, -webkit-transform 0.4s 0.15s;
	transition: opacity 0.5s 0.15s, transform 0.4s 0.15s;
}
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-icons > .icon:nth-child(5),
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-icons-inner > .icon:nth-child(5),
.hover-zooming-blur .gallery-item:hover .overlay .overlay-content-inner a.icon:nth-child(5){
	-webkit-transition: opacity 0.5s 0.2s, -webkit-transform 0.4s 0.2s;
	transition: opacity 0.5s 0.2s, transform 0.4s 0.2s;
}
.hover-zooming-blur .portfolio-item .image .links .caption .title{
	opacity: 0;
	top: 200px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: -webkit-transform 0s 0.5s, opacity 0.3s 0.1s, top 0.3s 0.1s;
	transition: transform 0s 0.5s, opacity 0.3s 0.1s, top 0.3s 0.1s;
}
.hover-zooming-blur .gallery-item .overlay .overlay-content-inner .title{
	opacity: 0;
	top: 200px;
	display: block;
	vertical-align: middle;
	position: relative;
	margin-top: 35px;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: -webkit-transform 0s 0.5s, opacity 0.3s 0.1s, top 0.3s 0.1s;
	transition: transform 0s 0.5s, opacity 0.3s 0.1s, top 0.3s 0.1s;
}
.hover-zooming-blur .portfolio-item:hover .image .links .caption .title{
	opacity: 1;
	top: 0;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform 0.3s 0.1s, opacity 0.3s 0.1s, top 0s;
	transition: transform 0.3s 0.1s, opacity 0.3s 0.1s, top 0s;
}
.hover-zooming-blur .gallery-item:hover .overlay .overlay-content-inner .title{
	opacity: 1;
	top: 0;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform 0.3s 0.1s, opacity 0.3s 0.1s, top 0s;
	transition: transform 0.3s 0.1s, opacity 0.3s 0.1s, top 0s;
}
.hover-zooming-blur .portfolio-item .image .links .caption .description{
	opacity: 0;
	top: 200px;
	position: relative;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: -webkit-transform 0s 0.5s, opacity 0.3s, top 0.3s;
	transition: transform 0s 0.5s, opacity 0.3s, top 0.3s;
}
.hover-zooming-blur .portfolio-item:hover .image .links .caption .description{
	opacity: 1;
	top: 0;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform 0.3s 0.2s, opacity 0.3s 0.2s, top 0s;
	transition: transform 0.2s 0.2s, opacity 0.3s 0.2s, top 0s;
}
.hover-zooming-blur .portfolio-item .image .links .caption .product-info{
	opacity: 0;
	top: 200px;
	position: relative;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: -webkit-transform 0s 0.5s, opacity 0.3s, top 0.3s;
	transition: transform 0s 0.5s, opacity 0.3s, top 0.3s;
}
.hover-zooming-blur .portfolio-item:hover .image .links .caption .product-info{
	opacity: 1;
	top: 0;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform 0.3s 0.2s, opacity 0.3s 0.2s, top 0s;
	transition: transform 0.2s 0.2s, opacity 0.3s 0.2s, top 0s;
}
.hover-zooming-blur .gallery-item .overlay .overlay-content-inner .subtitle{
	opacity: 0;
	display: inline-block;
	vertical-align: middle;
	top: 200px;
	position: relative;
	margin-top: 20px;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: -webkit-transform 0s 0.5s, opacity 0.3s, top 0.3s;
	transition: transform 0s 0.5s, opacity 0.3s, top 0.3s;
}
.hover-zooming-blur .gallery-item:hover .overlay .overlay-content-inner .subtitle{
	opacity: 1;
	top: 0;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform 0.3s 0.2s, opacity 0.3s 0.2s, top 0s;
	transition: transform 0.2s 0.2s, opacity 0.3s 0.2s, top 0s;
}
.hover-zooming-blur .portfolio-item .image .overlay .links .portfolio-sharing-pane{
	opacity: 0;
	margin-top: 0;
	margin-bottom: 0;
	-webkit-transform: translateY(-1000px);
	transform: translateY(-1000px);
	-webkit-transition: opacity 0.3s, margin 0.3s 0.3s, -webkit-transform 0s;
	transition: opacity 0.3s, margin 0.3s 0.3s, transform 0s;
}
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-sharing-pane{
	visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: opacity 0.5s, -webkit-transform 0s, margin 0.3s 0.3s;
	transition: opacity 0.5s, transform 0s, margin 0.3s 0.3s;
}
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-sharing-pane.active{
	opacity: 1;
	visibility: visible;
	margin-top: 20px;
	margin-bottom: 0;
	-webkit-transition: opacity 0.5s, margin 0.3s;
	transition: opacity 0.5s, margin 0.3s;
}
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-sharing-pane .socials-item-icon{
	opacity: 0;
	-webkit-transform: translate(0, 30px);
	transform: translate(0, 30px);
}
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-sharing-pane.active .socials-item-icon{
	opacity: 1;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-sharing-pane a.socials-item:nth-child(1) .socials-item-icon,
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-sharing-pane.active a.socials-item:nth-child(1) .socials-item-icon
{
	-webkit-transition: color 0.3s, -webkit-transform 0.3s, opacity 0.3s;
	transition: color 0.3s, transform 0.3s, opacity 0.3s;
}
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-sharing-pane a.socials-item:nth-child(2) .socials-item-icon,
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-sharing-pane.active a.socials-item:nth-child(2) .socials-item-icon
{
	-webkit-transition: color 0.3s, -webkit-transform 0.3s 0.05s, opacity 0.3s 0.05s;
	transition: color 0.3s, transform 0.3s 0.05s, opacity 0.3s 0.05s;
}
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-sharing-pane a.socials-item:nth-child(3) .socials-item-icon,
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-sharing-pane.active a.socials-item:nth-child(3) .socials-item-icon
{
	-webkit-transition: color 0.3s, -webkit-transform 0.3s 0.1s, opacity 0.3s 0.1s;
	transition: color 0.3s, transform 0.3s 0.1s, opacity 0.3s 0.1s;
}
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-sharing-pane a.socials-item:nth-child(4) .socials-item-icon,
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-sharing-pane.active a.socials-item:nth-child(4) .socials-item-icon
{
	-webkit-transition: color 0.3s, -webkit-transform 0.3s 0.15s, opacity 0.3s 0.15s;
	transition: color 0.3s, transform 0.3s 0.15s, opacity 0.3s 0.15s;
}
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-sharing-pane a.socials-item:nth-child(5) .socials-item-icon,
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-sharing-pane.active a.socials-item:nth-child(5) .socials-item-icon
{
	-webkit-transition: color 0.3s, -webkit-transform 0.3s 0.2s, opacity 0.3s 0.2s;
	transition: color 0.3s, transform 0.3s 0.2s, opacity 0.3s 0.2s;
}
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-sharing-pane a.socials-item:nth-child(6) .socials-item-icon,
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-sharing-pane.active a.socials-item:nth-child(6) .socials-item-icon
{
	-webkit-transition: color 0.3s, -webkit-transform 0.3s 0.25s, opacity 0.3s 0.25s;
	transition: color 0.3s, transform 0.3s 0.25s, opacity 0.3s 0.25s;
}
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-sharing-pane a.socials-item:nth-child(7) .socials-item-icon,
.hover-zooming-blur .portfolio-item:hover .image .overlay .links .portfolio-sharing-pane.active a.socials-item:nth-child(7) .socials-item-icon
{
	-webkit-transition: color 0.3s, -webkit-transform 0.3s 0.3s, opacity 0.3s 0.3s;
	transition: color 0.3s, transform 0.3s 0.3s, opacity 0.3s 0.3s;
}
